# PostgreSQL
DATABASE_URL=postgres://localhost:5432/saha

# WorkOS
WORKOS_API_KEY=your_workos_api_key
WORKOS_CLIENT_ID=your_workos_client_id

# API
API_URL=http://localhost:3000

# Web
BASE_URL=http://localhost:5173